{% extends "/inadmin/structure/main.html.twig" %}

{% block pagetitle %}
    <a href="{{ path('incc_tools_index') }}">Tools</a>
    <span>Email settings</span>
{% endblock pagetitle %}

{% block content %}

{% block settings_pre %}{% endblock settings_pre %}

{% block settings %}
<div class="col-12">

{% if report.issues %}
		{% for error in report.issues %}
	<p aria-live="polite" class="flash-{{ error.severity.value }}">
			{% if error.severity.value == 'success' %}
				<span class="material-icons" aria-hidden="true">check_circle</span>
			{% elseif error.severity.value == 'warning' or error.severity.value == 'error' %}
				<span class="material-icons" aria-hidden="true">warning</span>
			{% elseif error.severity.value == 'notice' %}
				<span class="material-icons" aria-hidden="true">info</span>
			{% endif %}
		{{ error.message }}
	</p>
{% endfor %}
{% endif %}

<section class="admonition admonition__info">
	<h3 class="admonition__title">Mail Authentication</h3>
	<p><strong>Domain:</strong> {{ report.domain }}</p>
	<p><strong>MX:</strong>
	{% if report.mxRecords %}
		{% for record in report.mxRecords %}
			{{ record['target'] }} (Priority: {{ record['pri']}}, TTL: {{ record['ttl'] }} seconds)
		{% endfor %}
	{% else %}
	Not configured
	{% endif %}
	</p>
	<p><strong>DMARC:</strong>
		{{ report.dmarcRecords|default(['Not configured'])|join(' | ') }}
	</p>
	<p><strong>SPF:</strong>
		{{ report.spfRecords|default(['Not configured'])|join(' | ') }}
	</p>
	<p><strong>DKIM:</strong>
		{{ report.dkimRecords|default(['Not configured'])|join(' | ') }}
	</p>
	<p><strong>BIMI:</strong>
		{{ report.bimiRecord|default(['Not configured'])|join(' | ') }}
	</p>
	<p><strong>TLS-RPT:</strong>
	{% if report.tlsRptRecords %}
		{% for record in report.tlsRptRecords %}
			{{ record['txt'] }} (TTL: {{ record['ttl'] }} seconds)
		{% endfor %}
	{% else %}
	Not configured
	{% endif %}
	</p>
	<p><strong>CAA:</strong>
		{{ report.caaRecords|default(['Not configured'])|join(' | ') }}
	</p>
</section>

<section>
	<h3>Notes</h3>
	<p>DMARC and SPF settings are important to ensure the deliverability of emails.</p>

	<h4>SPF Records</h4>
	<dl>
		<dt><code>-all</code></dt>
		<dd>Rejects and discards</dd>
		<dt><code>~all</code></dt>
		<dd>Allows but marks as suspicious</dd>
	</dl>
	<p>Example SPF for Google (Google): <code>v=spf1 include:_spf.google.com ~all</code></p>
	<p>Example SPF for multiple providers (Outlook + Google): <code>v=spf1 include:_spf.google.com include:spf.protection.outlook.com ~all</code></p>

	<h4>DMARC</h4>
	<p>DMARC should be configured as a TXT record for <code>_dmarc.{{ report.domain }}</code> with a value such as:</p>
	<p><code>v=DMARC1; p=none; rua=mailto:dmarc@{{ report.domain }};</code></p>
	<p><code>none</code> tells mailservers to do nothing, so is useful when making sure there are no issues. After a period of time, you can then change this to <code>quarantine</code>, or <code>reject</code>.</p>
	<p><code>rua</code> is an email address to receive reports to</p>
</section>
</div>
{% endblock settings %}

{% block settings_post %}{% endblock settings_post %}
{% endblock content %}