{% extends "inadmin/structure/main.html.twig" %}

{% block pagetitle %}
    <a href="{{ path('incc_tools_index') }}">Tools</a>
    <a href="{{ path('incc_tools_import') }}">Import</a>
    <span>Preview</span>
{% endblock pagetitle %}

{% block content %}
<div class="col-12 widget-posts">
<section class="paginated-list">
    <p>{{ items|length }} items detected in file. {% if import_type in ['page','series'] %}Imported content will be created with status 'draft'.{% endif %}</p>

    <form class="form nested-grid" method="post" action="{{ path('incc_tools_import_process') }}">
        <table class="table table--responsive table--striped table--compact col-{% if import_type == 'page' %}8{% else %}12{% endif %}">
            <thead>
                <tr>
                {% if import_type == 'page' %}
                    <th>Title</th>
                    <th>Type</th>
                    <th>Categories</th>
                    <th>Tags</th>
                    <th>Post Date</th>
                {% elseif import_type == 'series' %}
                    <th>Title</th>
                    <th>Subtitle</th>
                    <th>Items</th>
                {% elseif import_type == 'category' %}
                    <th>Description</th>
                    <th>Full Path</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    {% if import_type == 'page' %}
                        <td>{{ item.title }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.categories|map(c => c.path)|join(', ')|replace({'/': ' > '}) }}</td>
                        <td>{{ item.tags|map(t => t.title)|join(', ') }}</td>
                        <td>{{ item.postDate ? item.postDate|date('Y-m-d H:i') : '' }}</td>
                    {% elseif import_type == 'series' %}
                        <td>{{ item.title }}</td>
                        <td>{{ item.subTitle }}</td>
                        <td>{{ item.items|length }}</td>
                    {% elseif import_type == 'category' %}
                        <td>{{ item.description }}</td>
                        <td>{{ item.fullPath|replace({'/': ' > '}) }}</td>
                    {% endif %}
                </tr>

                {% if warnings[loop.index0] is defined %}
                    <tr class="import-warning-row">
                        <td colspan="{{ import_type == 'page' ? 5 : import_type == 'series' ? 6 : 5 }}">
                            <ul class="import-warnings">
                                {% for warning in warnings[loop.index0] %}
                                    <li>{{ warning }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
{% if import_type == 'page' %}
        <fieldset class="col-4">
            <legend>Options</legend>
            <p>Select options for importing the content:</p>
            <p>
                <label>
                    <input type="checkbox" class="checkbox"name="createMissingCategories" value="1" checked>
                    Create missing categories
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" class="checkbox" name="createMissingTags" value="1" checked>
                    Create missing tags
                </label>
            </p>
        </fieldset>
{% endif %}
        <div class="fixed-bottom-bar">
            <p>
                <button class="button button--positive" type="submit">
                    <span class="material-icons" aria-hidden="true">sync</span>
                    <span class="button--text">Process Import</span>
                </button>
            </p>
        </div>
    </form>
</section>
</div>
{% endblock content %}
