{% extends "inadmin/structure/main.html.twig" %}

{% block pagetitle %}
    <span>{{ page.type|title }}</span>
{% endblock pagetitle %}

{% block content %}

    {% block resources_pre %}{% endblock resources_pre %}

    {% block resources %}
    <div class="col-12 widget-posts ui-tabs-external">
        <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
            <li role="tab" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active{% if page.tab == 'Image' %} ui-state-active{% endif %}">
                <a href="{{ settings.domain ~ path('incc_resource_list', { type: 'images' }) }}">Images</a>
            </li>
{#            <li role="tab" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active{% if page.tab == 'Download' %} ui-state-active{% endif %}">#}
{#                <a href="{{ settings.domain ~ path('incc_resource_list', { type: 'downloads' }) }}">Downloads</a>#}
{#            </li>#}
        </ul>

        {% if dataset|default(null) is not empty and form|default(null) is not empty %}
        {{ form_start(form, {'attr': { 'class': 'form form__' ~ page.type ~ ' content__list' }}) }}

        {{- form_errors(form) -}}

        {% if dataset is not empty %}
            {{ include('inadmin/partials/filters.html.twig', {
                add_button: {
                    class: 'dialog__link',
                    data: {
                        buttons: 'eyJ0ZXh0IjoiQ2hvb3NlIEltYWdlIiwiY2xhc3MiOiJidXR0b24gYnV0dG9uLS1wb3NpdGl2ZSIsImRpc2FibGVkIjp0cnVlfQ==',
                        'class-name': 'dialog__imageManager',
                        'template-name': 'image-manager',
                        title: 'admin.dialog.upload.title'|trans,
                        view: 'upload',
                    },
                    text: 'Upload a new image',
                    image: 'cloud_upload',
                    type: 'button',
                    url: '#',
                },

                filters: {
                    Usage: {
                        '': 'All',
                        'notinuse': 'Not in use',
                    }
                },
                filter_values: query.filters,

                show_search: true,
                sort_options: {
                    'createDate desc': 'Uploaded: Newest',
                    'createDate asc': 'Uploaded: Oldest',
                    'modDate desc': 'Modified: Newest',
                    'modDate asc': 'Modified: Oldest',
                    'filesize asc': 'Size: Smallest',
                    'filesize desc': 'Size: Largest',
                    'title asc': 'Title: A-Z',
                    'title desc': 'Title: Z-A',
                }
            }) }}
    <section class="paginated-list">
        <ul class="ui-image-library">
            {% for item in dataset %}
                {% set filename = item.filename %}
                {% if not (filename starts with 'http') and not(filename starts with '/') %}
                    {% set filename = '/imgs/' ~ filename %}
                {% endif %}
            <li>
                <a href="{{ path('incc_resource_edit', { type: page.type, filename: item.id }) }}" title="{{ item.title }}">
                    <span><img alt="{{ item.altText }}" src="{{ filename }}" /></span>
                    {{ item.title|u.truncate(35, '...', false) }}
                </a>
                {% if item.filesize / 1024 > limitKByte %}
                    <span class="ui-help help--warning">
                        <em class="material-icons">warning</em>
                        This file is larger than {{ limitKByte/1024 }} kb
                    </span>
                {% elseif item.dimensionX|default(0) > limitSize or item.dimensionY|default(0) > limitSize %}
                    <span href="#" class="ui-help help--warning">
                        <em class="material-icons">warning</em>
                        This image is larger than {{ limitSize }} on at least one side
                    </span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {{ include('inadmin/partials/pagination.html.twig', {
            offset: query.offset,
            limit: query.limit,
            maxResults: dataset.count,
            maxPagesToShow: 5,
            result_url: path('incc_resource_list', { type: page.type }),
            total: dataset.count,
        }) }}
        {% endif %}
        {% if actions|default(null) is not empty %}
            {% include 'inadmin/partials/action_bar.html.twig' %}
        {% endif %}
        {{ form_end(form) }}
    </section>
    {% elseif filter_values|default(null) is not empty %}
        {% include 'inadmin/partials/filters.html.twig' with {
            'filters': filters,
            'filter_values': filter_values,
            'show_search': show_search
        } only %}

    <section class="paginated-list">
        <p class="content-warning">
            <i class="material-icons">info_outline</i>
            <span>Oops! Your filter didn't find anything!</span>
        </p>
    </section>
    {% else %}
        <section class="paginated-list">
            <p class="content-warning">
                <i class="material-icons">info_outline</i>
                <span>You don't have any content yet!</span>
                <a class="dialog__link" data-class-name="dialog__imageManager" data-target="featureImage" data-template-name="image-manager" data-title="{{ 'admin.dialog.upload.title'|trans }}" data-view="upload" href="">Add some now!</a>
            </p>
        </section>
    {% endif %}
    </div>
    {% endblock resources %}

    {% block resources_post %}{% endblock resources_post %}
{% endblock content %}