{% extends "/inadmin/structure/main.html.twig" %}

{% block pagetitle %}
    <a href="{{ path('inachis_settings_index') }}">Settings</a>
    <span>Email settings</span>
{% endblock pagetitle %}

{% block content %}

{% block settings_pre %}{% endblock settings_pre %}

{% block settings %}

{% if spf_errors or dmarc_errors %}
<div class="admonition admonition__warning">
	<ul class="error-list">
		{% for error in dmarc_errors|merge(spf_errors) %}
			<li>{{ error }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<div class="admonition admonition__info">
	<h3 class="admonition__title">Mail Authentication</h3>
	<p><strong>Domain:</strong> {{ domain }}</p>
	<p><strong>MX:</strong>
	{% if mx_records %}
		{% for record in mx_records %}
			{{ record['target'] }}(Priority: {{ record['pri']}}, TTL: {{ record['ttl'] }} seconds)
		{% endfor %}
	{% else %}
	Not configured
	{% endif %}
	</p>
	<p><strong>DMARC:</strong>
		{{ dmarc|default(['Not configured'])|join(' | ') }}
	</p>
	<p><strong>SPF:</strong>
		{{ spf|default(['Not configured'])|join(' | ') }}
	</p>
</div>

<div>
	<h3>Notes</h3>
	<p>DMARC and SPF settings are important to ensure the deliverability of emails.</p>

	<h4>SPF Records</h4>
	<dl>
		<dt><code>-all</code></dt>
		<dd>Rejects and discards</dd>
		<dt><code>~all</code></dt>
		<dd>Allows but marks as suspicious</dd>
	</dl>
	<p>Example SPF for Google (Google): <code>v=spf1 include:_spf.google.com ~all</code></p>
	<p>Example SPF for multiple providers (Outlook + Google): <code>v=spf1 include:_spf.google.com include:spf.protection.outlook.com ~all</code></p>

	<h4>DMARC</h4>
	<p>DMARC should be configured as a TXT record for <code>_dmarc.{{ domain }}</code> with a value such as:</p>
	<p><code>v=DMARC1; p=none; rua=mailto:dmarc@{{ domain }};</code></p>
	<p><code>none</code> tells mailservers to do nothing, so is useful when making sure there are no issues. After a period of time, you can then change this to <code>quarantine</code>, or <code>reject</code>.</p>
	<p><code>rua</code> is an email address to receive reports to</p>
</div>

{% endblock settings %}

{% block settings_post %}{% endblock settings_post %}
{% endblock content %}