{% import 'inadmin/partials/macros/post_widget.html.twig' as posts %}

<section class="widget widget-posts ui-section rounded">
    <header class="widget__header">
        <h3>Posts</h3>
        <ul class="ui-tabs">
            <li>
                <a href="#widget-posts__drafts">Drafts</a>
                <em class="badge{% if dashboard.draftCount == 0 %} badge__empty{% endif %}">{{ dashboard.draftCount }}</em>
            </li>
        {% if dashboard.upcoming|default([]) is not empty  %}
            <li>
                <a href="#widget-posts__upcoming">Scheduled</a>
                <em class="badge">{{ dashboard.upcomingCount }}</em>
            </li>
        {% endif %}
        {% if dashboard.publishCount > 0 %}
            <li>
                <a href="#widget-posts__published">Latest</a>
                <em class="badge{% if dashboard.publishCount == 0 %} badge__empty{% endif %}">{{ dashboard.publishCount }}</em>
            </li>
        {% endif %}
    </ul>
    </header>

   {{ posts.render_list(dashboard.drafts, 'widget-posts__drafts', 'There are currently no draft posts available', 'drafts') }}

    {{ posts.render_list(dashboard.upcoming, 'widget-posts__upcoming', '', 'upcoming') }}

    {{ posts.render_list(dashboard.posts, 'widget-posts__published', '', 'published') }}
</section>
