<div class="widget widget-alerts">
    {% if dashboard.alerts.altText.count > 0 or dashboard.alerts.categories.count > 0 %}
        <article class="alert_priority__high">
            {% if dashboard.alerts.altText.count > 0 %}
                <p><span>High</span> {{ dashboard.alerts.altText.count }} images without alt text <a href="{{ path('incc_resource_list', { 'type': 'images' }) }}?altText=null">Fix &rarr;</a></p>
            {% endif %}
            {% if dashboard.alerts.categories.count > 0 %}
                <p><span>High</span> {{ dashboard.alerts.categories.count }} pages without categories <a href="/incc/post/list?category=null">Fix &rarr;</a></p>
            {% endif %}
        </article>
    {% endif %}

    {% if dashboard.alerts.tags.count > 0 or dashboard.alerts.categories.count > 0 or dashboard.alerts.featureImage.count > 0 or dashboard.alerts.sharingMessage.count > 0 %}
    <article class="alert_priority__medium">
        {% if dashboard.alerts.tags.count > 0 %}
            <p><span>Med</span> {{ dashboard.alerts.tags.count }} pages without tags <a href="/incc/post/list/?tag=null">Fix &rarr;</a></p>
        {% endif %}
        {% if dashboard.alerts.featureImage.count > 0 %}
            <p><span>Med</span> {{ dashboard.alerts.featureImage.count }} pages without feature images <a href="/incc/post/list/?featureImage=null">Fix &rarr;</a></p>
        {% endif %}
        {% if dashboard.alerts.sharingMessage.count > 0 %}
            <p><span>Med</span> {{ dashboard.alerts.sharingMessage.count }} pages without sharing messages <a href="/incc/post/list/?sharingMessage=null">Fix &rarr;</a></p>
        {% endif %}
    </article>
    {% endif %}
</div>