{% extends "/inadmin/structure/main.html.twig" %}

{% block pagetitle %}
        <a href="{{ path('incc_admin_list') }}">Users</a>
        <span>Edit User</span>
{% endblock pagetitle %}

{% block content %}

{% block change_password_pre %}{% endblock change_password_pre %}

{% block change_password %}

        {{ form_start(form, { 'attr' : { 'class': 'form form__post form__profile' } }) }}
        <div class="col span_8_of_8 content__edit ui-tabs-external">
        {{ include('inadmin/partials/profile_tabs.html.twig', {
                'activeTab': 'change-password'
        }) }}

        <h2>Edit profile</h2>
        <h3>{{ user.username }}</h3>

        <fieldset class="multisection">
                <legend>Change password</legend>
                <p>Please confirm your existing password, and then provide a new password.  Your new password must be at least 8 characters.</p>
                <p>
                        {{ form_label(form.current_password) }}
                        {{ form_widget(form.current_password) }}
                        {{ form_errors(form.current_password) }}
                </p>
                <p>
                        {{ form_label(form.new_password) }}
                        {{ form_widget(form.new_password) }}
                        <span id="password-strength" class="strength"><span></span></span>
                        {{ form_errors(form.new_password) }}
                </p>
                {% if not form.vars.valid %}
                        {{ include('inadmin/partials/admonition.html.twig', {
                                'type': 'info',
                                'text': 'Using a combination of lower and uppercase letters, numbers, and symbols will increase your password strength.',
                        }) }}
                {% endif %}
        </fieldset>
        <div class="fixed-bottom-bar">
                <p><button class="button button--positive" type="submit"><span class="material-icons">save</span> Save</button></p>
        </div>
        {{ form_end(form) }}

        <script>InachisPasswordManager._init();</script>
{% endblock change_password %}
{% block change_password_post %}{% endblock change_password_post %}
{% endblock content %}