{% extends "/inadmin/structure/main.html.twig" %}

{% block pagetitle %}
        <a href="{{ path('incc_admin_list') }}">Users</a>
        <span>Edit User: {{ user.username }}</span>
{% endblock pagetitle %}

{% block content %}

{% block change_password_pre %}{% endblock change_password_pre %}

{% block change_password %}

        {{ form_start(form, { 'attr' : { 'class': 'col-12 form form__post form__profile' } }) }}
        <div class="content__edit ui-tabs-external">
        {{ include('inadmin/partials/tab-sets/profile.html.twig', {
                'activeTab': 'change-password'
        }) }}
        <section class="paginated-list">
        <fieldset class="multisection">
                <legend>Change password</legend>
                <p>Please confirm your existing password, and then provide a new password.  It should not be the same as passwords you use anywhere else. Your new password must be at least 8 characters, and is best when using a mixture of letters, numbers, and symbols.</p>
                <p>
                        {{ form_label(form.current_password) }}
                        {{ form_widget(form.current_password) }}
                        {{ form_errors(form.current_password) }}
                </p>
                <p>
                        {{ form_label(form.new_password) }}
                        {{ form_widget(form.new_password) }}
                        <meter class="password-strength" data-source="#change_password_new_password" high="3" low="2" max="5" min="0" optimum="4" value="0"></meter>
                        {{ form_errors(form.new_password) }}
                </p>
                <p><strong id="password-strength-help">&nbsp;</strong></p>
                {% if not form.vars.valid %}
                        {{ include('inadmin/partials/admonition.html.twig', {
                                'type': 'info',
                                'text': 'Using a combination of lower and uppercase letters, numbers, and symbols will increase your password strength.',
                        }) }}
                {% endif %}
        </fieldset>
        <div class="fixed-bottom-bar">
                <p><button class="button button--positive" type="submit"><span class="material-icons" aria-hidden="true">save</span> Save</button></p>
        </div>
        </section>
        {{ form_end(form) }}

        <script>window.Inachis.PasswordManager._init();</script>
{% endblock change_password %}
{% block change_password_post %}{% endblock change_password_post %}
{% endblock content %}