{% extends "/inadmin/structure/main.html.twig" %}

{% block pagetitle %}
    <a href="{{ path('incc_admin_list') }}">Users</a>
    <span>Edit User: {{ user.username }}</span>
{% endblock pagetitle %}

{% block content %}
    {% block profile_pre %}{% endblock profile_pre %}

    {% block profile %}

        {{ form_start(form, {'attr': { 'class': 'form form__post form__user' }}) }}
        <div class="col span_8_of_8 ui-tabs-external">
            {{ include('inadmin/partials/tab-sets/profile.html.twig', {
                'activeTab': 'profile'
            }) }}
            <section class="paginated-list">
    {% if user.username is defined and user.username is not empty %}
{# @todo add avatar selector #}
        {% if false and app.user.username == user.username %}
            <fieldset class="multisection">
                <legend>Your Display Picture</legend>
                {{ form_widget(form.avatar) }}
                {% if user.avatar is defined and user.avatar is not empty %}
                <p class="profile-photo">
                    <img alt="A user uploaded profile picture" height="100" src="/incc/profile-img/{{ user.avatar }}" width="100" />
                </p>
                {% endif %}
                <p>
                    <button class="button button--info dialog__link"
                            data-class-name="dialog__uploader"
                            data-target="avatar"
                            data-template-name="uploader"
                            data-title="Upload a new display picture"
                            data-filesize-limit="2048"
                            data-dimensions-limt="200"
                            type="button"
                    ><span class="material-icons">image</span> Upload a new picture</button>
                </p>
                <p>You can upload a JPEG {% if heicSupported %},PNG, or HEIC{% else%}or PNG{% endif %} image. It is recommended that this image is square (such as 100px x 100px) to avoid distortion.</p>
            </fieldset>
        {% endif %}
    {% else %}
        <h3>New administrator</h3>
    {% endif %}
            <fieldset class="content__edit multisection">
                <legend>Personal Information</legend>
    {% if user.id is not defined or user.id is empty %}
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                    {{ form_errors(form.username) }}
    {% endif %}
                    {{ form_label(form.displayName) }}
                    {{ form_widget(form.displayName) }}
                    {{ form_errors(form.displayName) }}

                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}

                    {{ form_label(form.timezone) }}
                    {{ form_widget(form.timezone) }}
                    {{ form_errors(form.timezone) }}
            </fieldset>

    {% if app.user.username == user.username %}
            <fieldset class="multisection">
                <legend>Settings</legend>
                <p>
                    {{ form_label(form.color) }}
                    {{ form_widget(form.color) }}
                    {{ form_errors(form.color) }}
                </p>
            </fieldset>
    {% endif %}

            <div class="fixed-bottom-bar">
                <p>
                    {{ form_widget(form.submit) }}
    {% if user.id is not empty and app.user.username != user.username %}
                    {{ form_widget(form.enableDisable) }}
                    {{ form_widget(form.delete) }}
    {% endif %}
                </p>
            </div>
            </section>
        </div>
    {{ form_end(form) }}

    {% endblock profile %}

    {% block profile_post %}{% endblock profile_post %}
{% endblock content %}
