{% extends "inadmin/structure/main.html.twig" %}

{% block pagetitle %}
    <a href="{{ path('incc_series_list') }}">Series</a>
    {% if series.id is empty %}New{% else %}Edit{% endif %} Series
{% endblock pagetitle %}

{% block content %}

    {% block series_edit_pre %}{% endblock series_edit_pre %}

    {% block series_edit %}

        {{ form_start(form, {'attr': { 'class': 'form form__post form__series' }}) }}
        <div class="col span_6_of_8 content__edit">
            <fieldset id="post__edit">
                <legend>{% trans %}admin.series.legend{% endtrans %}</legend>

                {{
                include('inadmin/partials/image_preview.html.twig', {
                    'id': 'series_image',
                    'name': 'series[image]',
                    'value': series.image,
                    'additionalClass': 'preview__small'
                })
                }}
                <p>
                    {{ form_label(form.title) }}
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title) }}
                </p>
                <p>
                    {{ form_label(form.subTitle) }}
                    {{ form_errors(form.subTitle) }}
                    {{ form_widget(form.subTitle) }}
                </p>
                {% if series.id is not empty %}
                <p>
                    {{ form_label(form.url) }}
                    {{ form_errors(form.url) }}
                    /{{ series.firstDate|date('Y') }}-{{ form_widget(form.url) }}
                </p>
                <p>
                    {{ form_label(form.visibility) }}
                    {{ form_errors(form.visibility) }}
                    <span class="switch-wrapper">
                        {{ form_widget(form.visibility) }}
				    </span>
                </p>
                {% else %}
                    {{ form_widget(form.url, {'type': 'hidden', 'attr': {'pattern': ''}}) }}
                {% endif %}
                <p>
                    {{ form_label(form.description) }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description) }}
                </p>
            </fieldset>
        </div>
        <div class="col span_2_of_8 content__edit edit__list">
            {{  include('inadmin/partials/series_contents.html.twig') }}
        </div>
        <div class="fixed-bottom-bar">
            <p>
                {{ form_widget(form.submit) }}
                {%  if series.id is not empty %}
                {{ form_widget(form.delete) }}
                {% endif %}
                {%  if series.id is not empty and series.items|length > 0 %}
                    <a class="button button--secondary" href="{{ path('app_series_view', { 'year': series.lastDate|date('Y'), 'title': series.url}) }}" target="_blank" title="View Live"><span class="material-icons">exit_to_app</span> View Live</a>
                {%  endif %}
                    <span class="series__controls visually-hidden">
                    with selected:
                    {{ form_widget(form.remove) }}
                </span>
            </p>
        </div>
        {{ form_row(form._token) }}
        {{ form_end(form, {render_rest: false}) }}

        <link rel="stylesheet" href="/assets/css/incc/jquery.switchButton.css">
        <script src="/assets/js/incc/jquery.switchButton.js"></script>

    {% endblock series_edit %}


    {% block series_edit_post %}{% endblock series_edit_post %}
{% endblock content %}
