{% extends "inadmin/structure/main.html.twig" %}

{% block pagetitle %}
    <a href="{{ path('incc_series_list') }}">Series</a>
    <span>{% if series.id is empty %}New{% else %}Edit{% endif %} Series</span>
{% endblock pagetitle %}

{% block content %}
{% set showStats = series.id is not empty and series.visibility == '1' %}

{{ form_start(form, {'attr': { 'class': 'col-12 form form__post form__series' }}) }}
<div class="content__edit">
    <ul class="ui-tabs">
        <li>
            <a href="#series__overview">Overview</a>
        </li>
        {% if series.id is not empty %}
        <li>
            <a href="#series__contents">
                {% trans %}admin.series.contents.title{% endtrans %}
                <span class="badge">{{ series.items|length }}</span></a>
        </li>
        {% endif %}
        {% if showStats %}
        <li data-source="{{ path('incc_api_series_stats', { 'id': series.id }) }}" class="tab--lazyload">
            <a href="#series__stats">{% trans %}admin.posts.tabs.stats{% endtrans %}</a>
        </li>
        {% endif %}
    </ul>

    <fieldset class="ui-section" id="series__overview">
        <legend>Overview</legend>
        {{
            include('inadmin/partials/image_preview.html.twig', {
                'id': 'series_image',
                'name': 'series[image]',
                'value': series.image,
                'additionalClass': 'preview__small',
            })
        }}
        <p>
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
        </p>
        <p>
            {{ form_label(form.subTitle) }}
            {{ form_errors(form.subTitle) }}
            {{ form_widget(form.subTitle) }}
        </p>
        <p>
            {{ form_label(form.url) }}
            {{ form_errors(form.url) }}
            {{ settings.domain -}}/{{ series.firstDate|date('Y') }}-{{ form_widget(form.url) }}
            <span class="admonition admonition__info">The year is defined by the last date of the series</span>
        </p>
        {% if series.items is not empty %}
        <p>
            {{ form_label(form.visibility) }}
            {{ form_errors(form.visibility) }}
            <span class="switch-wrapper">
                {{ form_widget(form.visibility) }}
            </span>
        </p>
            {{ form_widget(form.firstDate) }}
            {{ form_widget(form.lastDate) }}
        {% endif %}
        <p>
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </p>
    </fieldset>

    <fieldset id="series__contents" class="ui-section content__edit edit__list">
        {{  include('inadmin/partials/series_contents.html.twig') }}
    </fieldset>

    {% if showStats %}
    <fieldset id="series__stats" class="ui-section content__edit">
    </fieldset>
    {% endif %}
</div>

<div class="fixed-bottom-bar">
    <p>
        {{ form_widget(form.submit) }}
        {%  if series.id is not empty %}
        {{ form_widget(form.delete) }}
        {% endif %}
        {%  if series.id is not empty and series.items|length > 0 %}
            <a class="button button--secondary" href="{{ path('web_series_view', { 'year': series.lastDate|date('Y'), 'title': series.url}) }}" target="_blank" title="View Live"><span class="material-icons" aria-hidden="true">exit_to_app</span> View Live</a>
            <span class="series__controls visually-hidden">
            with selected:
            {{ form_widget(form.remove) }}
        {%  endif %}
        </span>
    </p>
</div>

{{ form_row(form._token) }}
{{ form_end(form, {render_rest: false}) }}
{% endblock content %}
