{% extends "/inadmin/structure/main.html.twig" %}
{% block pagetitle %}
    <a href="{{ path('incc_settings_index') }}">Settings</a>
    <span>robots.txt Configuration</span>
{% endblock pagetitle %}
{% block content %}
<div class="col-12 content__edit">
{{ form_start(form, {'attr': { 'class': 'form form__post form__tabs' }}) }}
    <section class="ui-section">
		<p>
            {{ form_label(form.robots_txt) }}
            {{ form_errors(form.robots_txt) }}
            {{ form_widget(form.robots_txt) }}
        </p>
    </section>
    <div class="fixed-bottom-bar">
        <p>
            {{ form_widget(form.submit) }}
			<a class="button button--secondary" href="{{ path('web_robots_txt') }}" target="_blank" title="{% trans %}admin.button.viewLive{% endtrans %}"><span class="material-icons" aria-hidden="true">exit_to_app</span>
                    {% trans %}admin.button.viewLive{% endtrans %}</a>
        </p>
    </div>
{{ form_end(form) }}
</div>
{% endblock content %}