{% if actions|default(null) is not empty %}
<div class="fixed-bottom-bar">
    <p>
        {% if show_select_deselect is not defined or show_select_deselect %}
        <button class="button button--select button--select-all" type="button">
            <span class="material-icons">select_all</span>
            Select all
        </button>
        <button class="button button--select button--select-none" type="button">
            <span class="material-icons">filter_none</span>
            Select none
        </button>
        <span class="divider"></span>
        <span class="error ui-state-error error-select">Select content to see actions</span>
        <span>with selected:</span>
        {% endif %}
        {% for key, action in actions %}
            <button class="button {{ action.button_class|default(null) }}"{%-
                if action.data is defined and action.data is not empty %}
                {% for datakey, datavalue in action.data %} data-{{ datakey }}="{{ datavalue }}"{% endfor %}
                    {%- endif %}{%-
                if action.id is defined %} id="{{ action.id }}"{% endif
            %} name="{{ key }}" type="{{ action.button_type|default('submit') }}">
                {% if action.icon is defined and action.icon is not empty %}
                    <span class="material-icons">{{ action.icon }}</span>
                {% endif %}
                {{ action.title|default(null) }}
            </button>
        {% endfor %}
    </p>
</div>
{% endif %}
