<a aria-label="Edit {{ item.title }}" href="{{ link }}">
	<h2>
		{{ item.title }}{{ item.subtitle ? ' - ' ~ item.subtitle }}
		{{ include('inadmin/partials/badge.html.twig', {
			'item': item,
			'badges': {
				'private': {
					'field': 'visibility',
					'condition': false,
					'className': 'badge__private'
				}
			}
		}) }}
	</h2>
	<p>
	{%- if item.content is not empty -%}
	{{ item.content|markdown_to_html|striptags|length > 150 ? item.content|markdown_to_html|striptags|slice(0, 150) ~ '…' : item.content|markdown_to_html|striptags }}

	{%- endif -%}
	</p>
</a>
{% if item.status === 'draft' %}
<p class="date"><span class="material-icons" aria-hidden="true">schedule</span> Updated: <em>{{ item.modDate|date('jS F Y \\a\\t H:i', item.timezone) }} {{ item.timezone }}</em></p>
{% elseif item.postDate|date('U') > "now"|date('U') %}
<p class="date"><span class="material-icons" aria-hidden="true">schedule</span> Scheduled for <em>{{ item.postDate|date('jS F Y \\a\\t H:i', item.timezone) }} {{ item.timezone }}</em></p>
{% else %}
<p class="date"><span class="material-icons" aria-hidden="true">schedule</span> {{ item.postDate|date('jS F Y \\a\\t H:i', item.timezone) }} {{ item.timezone }}</p>
{% endif %}