{% if helpText|default('') %}
<p><label for="{{ paramName }}">{{ helpText }}</label></p>
{% endif %}
<div class="fallback">
    <input id="{{ paramName|replace({'[': '_', ']': ''}) }}" name="{{ paramName }}" type="file" multiple />
</div>
<script src="/assets/js/incc/dropzone-min.js"></script>
<script>
    var dropzone = new Dropzone(".dropzone", {
        url: '{{ dropzoneUrl }}',
        paramName: '{{ paramName }}',
        addRemoveLinks: true,
{% if autoUpload is defined and not autoUpload %}
        autoProcessQueue: false,
{% endif %}
{% if uploadMultiple is defined and uploadMultiple is not empty %}
        uploadMultiple: {{ uploadMultiple }},
{% endif %}
{% if maxFilesize is defined and maxFilesize is not empty %}
        maxFilesize: {{ maxFilesize }}, // bytes
{% endif %}
{% if acceptedFiles is defined and acceptedFiles is not empty %}
        acceptedFiles: '{{ acceptedFiles }}',
{% endif %}
        method: 'post',
        init: function() {
{% if selector is defined %}
            this.on('addedfile', file => {
                $('{{ selector }} button[type=submit]').prop('disabled', false);
            });
            this.on('removedfile', file => {
                if (this.files.length === 0) {
                    $('{{ selector }} button[type=submit]').prop('disabled', false);
                }
            });
            this.on('sending', (file, xhr, formData) => {
                formData.append('filesize', file.size);
                let additionalFormData = new FormData(document.querySelector('{{ selector }}'));
                for (const key of additionalFormData.keys()) {
                    formData.append(key, additionalFormData.get(key));
                }
                $('{{ selector }} button[type=submit]').prop('disabled', true);
            });
{% endif %}
        }
    });
</script>
