{% block filter %}

{% if filters is defined and filters is not empty or show_search|default(false) or (sort_options is defined and sort_options is not empty) %}
<section class="filter">
    <div class="filter__controls">
    {% if add_button is defined and add_button is not empty %}
        {% set tagname = add_button.type|default('a') %}
        <p>
            <{{ tagname }}
                class="button button--add {{ add_button.class|default('') }}"
        {% for dataName,dataValue in add_button.data|default(null) %}
            data-{{ dataName }}="{{ dataValue }}"
        {% endfor %}
                href="{{ add_button.url }}"
                {% if add_button.type|default('a') == 'button' %} type="button"{% endif %}
            ><span class="material-icons">{{ add_button.image|default('add') }}</span> {{ add_button.text }}</{{ tagname }}>
        </p>
    {% endif %}
    {% if show_search|default(false) %}
    <p class="filter__section-keyword">
        <label class="material-icons" for="filter__keyword">search</label>
        <input id="filter__keyword" name="filter[keyword]" placeholder="filter by keyword" type="search" value="{{ filter_values['keyword']|default('') }}" />
        <button class="clear-search material-icons" data-target="#filter__keyword" type="button">cancel</button>
    </p>
    {% endif %}
    {% if filters is defined and filters is not empty %}
    <p><a href="#" class="filter__toggle" title="Show filter options"><span class="material-icons">filter_list</span> Filters</a></p>
    {% endif %}
    {% if sort_options is defined and sort_options is not empty %}
        {{ include('/inadmin/partials/sort-by.html.twig') }}
    {% endif %}
    </div>
    {% if show_select_deselect is defined and show_select_deselect %}
        <p>
            <input aria-labelledby="selectAllNone_label" class="checkbox selectAllNone" name="selectAllNone" type="checkbox" />
            <label class="mobile-only" id="selectAllNone_label" for="selectAllNone">Select all on this page</label>
        </p>
    {% endif %}
</section>
{% endif %}
{% if filters is defined and filters is not empty %}
<div id="filter__options"{% if filter_values is not defined or filter_values is empty %} class="visually-hidden{% endif %}">
    {% if filters is defined and filters is not empty %}
        {% for filter_name, filter in filters %}
    <span class="filter__section-{{ filter_name|lower }}">
        <label for="filter__{{ filter_name|lower }}">{{ filter_name }}</label>
        <select name="filter[{{ filter_name|lower }}]" id="filter__{{ filter_name|lower }}">
            {% for key, value in filter %}
                <option value="{{ key }}"{% if filter_values[filter_name|lower]|default('') == key %} selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
    </span>
        {% endfor %}
    {% endif %}
</div>
{% endif %}

{% endblock %}
