{% block filter %}
    {% set isEmptyFilterValues = (filter_values|default(null)) is empty %}

{% if filters is defined and filters is not empty or show_search|default(false) or (sort_options is defined and sort_options is not empty) or add_button|default(null) is not empty %}

<section class="filter-bar sticky-nav" aria-label="Filter and sort content list">
<div id="toolbar-form" class="toolbar-container">
    {% if add_button|default(null) is not empty or show_search|default(false) %}
    <div class="row main-actions">
        {% if show_search|default(false) %}
            {% include('/inadmin/partials/search.html.twig') with {
                placeholder: 'Search posts…',
                ariaLabel: 'Search posts',
                enterKeyHint: 'search',
                id: 'filter__keyword',
                name: 'filter[keyword]',
                clearBtn: true,
                value: filter_values['keyword']|default(''),
            } %}
        {% endif %}
        {% if add_button is defined and add_button is not empty %}
            {% set tagname = add_button.type|default('a') %}
        <p>
            <{{ tagname }}
                class="button button--add {{ add_button.class|default('') }}"
        {% for dataName,dataValue in add_button.data|default(null) %}
            data-{{ dataName }}="{{ dataValue }}"
        {% endfor %}
                href="{{ add_button.url }}"
                {% if add_button.type|default('a') == 'button' %} type="button"{% endif %}
            ><span class="material-icons" aria-hidden="true">{{ add_button.image|default('add') }}</span>
            <span class="btn-text">{{ add_button.text }}</span>
            </{{ tagname }}>
        </p>
        {% endif %}
    </div>
    {% endif %}

    {% if filters|default(null) is not empty or sort_options|default(null) is not empty %}
    <div class="row secondary-controls">
        {% if filters|default(null) is not empty %}
        <button type="button" class="filter__toggle icon-badge-wrapper" id="toggle-filters" aria-expanded="{{ isEmptyFilterValues ? 'false' : 'true' }}" aria-controls="filter__options">
            <span class="material-icons" aria-hidden="true">filter_list</span>
            <span id="global-filter-dot" class="filter-indicator"{% if isEmptyFilterValues %} hidden{% endif %}></span>
            <span>Filters</span>
        </button>
        {% endif %}
        {% if sort_options|default(null) is not empty %}
            {{ include('/inadmin/partials/sort-by.html.twig') }}
        {% endif %}
    </div>
    {% endif %}
</div>

{% if filters|default(null) is not empty %}
<div id="filter__options" class="collapsible{% if not isEmptyFilterValues %} is-open"{% else %}" hidden{% endif %}>
<div class="filter__inner">
    {% for filter_name, filter in filters %}
    <span class="filter__section-{{ filter_name|lower }}">
        <label for="filter__{{ filter_name|lower }}">{{ filter_name }}</label>
        <select name="filter[{{ filter_name|lower }}]" id="filter__{{ filter_name|lower }}">
            {% for key, value in filter %}
                <option value="{{ key }}"{% if filter_values[filter_name|lower]|default('') == key %} selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
    </span>
    {% endfor %}
</div>
</div>
{% endif %}

{% if show_select_deselect is defined and show_select_deselect %}
<div class="row">
    <p class="button button--selectAllNone">
        <input aria-labelledby="selectAllNone_label" class="checkbox selectAllNone" id="selectAllNone" name="selectAllNone" type="checkbox" />
        <label class="" id="selectAllNone_label" for="selectAllNone">Select all items</label>
    </p>
</div>
{% endif %}
</section>

{% endif %}
{% endblock %}