{% if images is not empty %}
    {% set page_start = query.offset + 1 %}
    {% set page_end = page_start + images.getIterator|length - 1 %}

    <ol data-end="{{ page_end }}" data-start="{{ page_start }}" data-total="{{ images.count }}">
        {% for image in images %}
            <li>
                <label for="chosenImage_{{ image.id }}">
                    <img alt="{{ image.altText }}" src="{% if not (image.filename starts with 'http') %}/imgs/{% endif %}{{ image.filename }}" />
                    <span>{{ image.title }}</span>
                </label>
                <input id="chosenImage_{{ image.id }}" name="chosenImage[]" type="radio" value="{{ image.id }}" />
                {% if image.filename|slice(0,4) == 'http' %}
                    <em class="material-icons" aria-hidden="true">link</em>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
    {{ include('inadmin/partials/pagination.html.twig', {
        offset: query.offset,
        limit: query.limit,
        maxPagesToShow: 5,
        result_url: path('incc_resource_list', { type: 'images' }),
        showSummary: false,
        total: images.count,
    }) }}
{% else %}
    <p>No images to choose from, maybe you'd like to add some</p>
{% endif %}