{% set filename = value.filename|default('')|trim %}
{% if not (filename starts with 'http') and not(filename starts with '/') and filename is not empty %}
    {% set filename = '/imgs/' ~ filename %}
{% endif %}

<p class="image_preview" id="{{ id }}__preview">
    <input id="{{ id }}" name="{{ name }}" type="hidden" value="{{ value.id|default('') }}" />
    {% if filename is not empty %}
    <img alt="Preview of chosen image"{% if
        additionalClass is defined and additionalClass is not empty %} class="{{ additionalClass }}"{%
        endif %} src="{{ filename }}" />
    {% endif %}
    {% if show_gallery_button|default(true) %}
        {% if filename is not empty %}
            <button class="button button--info button--confirm"

            ><span class="material-icons" aria-hidden="true">hide_image</span> Remove Image</button>
        {% endif %}
    <button class="button button--info dialog__link"
            data-allowed-types="{{ allowedTypes|default([])|join(',') }}"
            data-dialog="imageManager"
            data-target="{{ id }}"
            data-title="{% trans %}admin.dialog.image_manager.title{% endtrans %}"
            type="button"
    ><span class="material-icons" aria-hidden="true">photo_library</span> Choose Image</button>
    {% endif %}
</p>
