{% block list %}

    {{ form_start(form, {'attr': { 'class': 'form form__' ~ type ~ ' content__list' }}) }}

    {% if dataset|default(null) is not empty and form|default(null) is not empty %}
    {{- form_errors(form) -}}

    {{ include('inadmin/partials/filters.html.twig') }}

    <section class="paginated-list{%- if zebra|default(false) %} zebra{% endif %}">
        {% for item in dataset.iterator %}
            {% if slug is defined %}
                {% if '.' in slug %}
                    {% set slug_exploded = slug|split('.')  %}
                    {% set slug_object = item %}
                    {% for part in slug_exploded %}
                        {% if '[' in part %}
                            {% set part = part|split('[')[0] %}
                            {% if attribute(slug_object, part)[0] is defined %}
                                {% set slug_object = attribute(slug_object, part)[0] %}
                            {% else %}
                                {% set slug_object = '' %}
                            {% endif %}
                        {% elseif attribute(slug_object, part) is defined %}
                            {% set slug_object = attribute(slug_object, part) %}
                        {% else %}
                            {% set slug_object = '' %}
                        {% endif %}
                    {% endfor %}
                {% elseif attribute(item, slug) is defined %}
                    {% set slug_object = attribute(item, slug) %}
                {% else %}
                    {% set slug_object = '' %}
                {% endif %}
            {% endif %}
        <article id="{{ type ~ '-' ~ item.id }}" class="{{ type }} {{ additional_classes|default(null) }} hentry">
            {% if actions|default(null) is not empty %}
                <input class="checkbox" id="{{ type }}-{{ item.id }}__input" type="checkbox" name="items[]" value="{{ item.id }}" />
            {% endif %}
            {% if slug is defined %}
            <a aria-label="Edit {% if item.title is defined %}{{ item.title }}{% elseif item.displayName is defined %}{{ item.displayName }}{% endif %}" href="/incc/{{ slug_prefix }}/{{ slug_object }}">
            {% endif %}
            {% if inline|default(false) == false %}
                <h2>
            {% else %}
                <strong>
            {% endif %}
                    <!-- label for="post-{{ item.id }}__input" -->
                    {% if item.title is defined %}
                        {{ item.title }}
                    {% elseif item.displayName is defined %}
                        {{ item.displayName }}
                    {% elseif item_title is defined and attribute(item, item_title) is defined %}
                        {{ attribute(item, item_title) }}
                    {% endif %}

                    {% if item.subTitle|default(null) is not empty %}
                        &mdash; {{ item.subTitle }}
                    {% endif %}

                    {{ include('inadmin/partials/badge.html.twig') }}

                {% if inline|default(false) == false %}
                </h2>
                {% else %}
                </strong>
                {% endif %}
            {% if slug is defined %}
            </a>
            {% endif %}
            {% if snippet_description|default('true') != 'false' %}
                {% if '.' in snippet_description %}
                    {% set snippet_parts = snippet_description|split('.') %}
                    {% set snippet_text =attribute(attribute(item, snippet_parts[0]), snippet_parts[1])|markdown_to_html|striptags %}
                {% else %}
                    {% set snippet_text = attribute(item, snippet_description|default('content'))|default('')|markdown_to_html|striptags %}
                {% endif %}
                {% if inline|default(false) == false %}
            <p>
                {% else %}
            <span>
                {% endif %}
                {{ snippet_text|slice(0, 300) }}
                {% if snippet_text|length > 300 %}…{% endif %}
                {% if inline|default(false) == false %}
            </p>
                {% else %}
            </span>
                {% endif %}
            {% endif %}
            {% if item.modDate is defined and (showDate is not defined or showDate == true) %}
                {% set timezone = session.user.timezone|default(item.timezone|default('UTC')) %}
                {% if inline|default(false) == false %}
            <p class="date">
                {% else %}
            <span class="date">
                {% endif %}
                {% if item.postDate|default(false) %}
                <span class="material-icons" aria-hidden="true">event</span>
                <em>{{ item.postDate|date('jS M Y \\a\\t H:i', timezone) }}</em>
                {% endif %}
                {% if item.items is defined %}
                    {% if item.firstDate is not empty %}
                <span class="material-icons" aria-hidden="true">date_range</span>{{ item.firstDate|date("M j, Y") }} to {{ item.lastDate|date("M j, Y") }}
                    {% endif %}
                <span class="material-icons" aria-hidden="true">library_books</span> <strong>{{ item.items|length }}</strong> posts
                {% endif %}
                <span class="material-icons" aria-hidden="true">history</span>
                 Updated: <em>{{ item.modDate|date('jS M Y \\a\\t H:i', timezone) }}</em>
                {% if inline|default(false) == false %}
            </p>
                {% else %}
            </span>
                {% endif %}
            {% endif %}
        </article>
        {%  endfor %}

        {{ include('inadmin/partials/pagination.html.twig', {
            offset: offset + 1,
            limit: limit,
            maxResults: total,
            maxPagesToShow: 4,
            result_url: url_result,
            total: total,
        }) }}
        {% if actions|default(null) is not empty %}
            {% include 'inadmin/partials/action_bar.html.twig' %}
        {% endif %}
    </section>

{% elseif filter_values|default(null) is not empty %}
    {% include 'inadmin/partials/filters.html.twig' with {
        'filters': filters,
        'filter_values': filter_values,
        'show_search': show_search,
        'add_button': add_button,
    } only %}
    <section class="paginated-list">
        <p class="content-warning">
            <i class="material-icons" aria-hidden="true">info_outline</i>
            <span>Oops! Your filter didn't find anything!</span>
        </p>
    </section>
{% else %}
    <section class="paginated-list">
        <p class="content-warning">
            <i class="material-icons" aria-hidden="true">info_outline</i>
            <span>You don't have any content yet!</span>
        {% if add_button is defined and add_button.url is defined %}
            <a href="{{ add_button.url }}">Add some now!</a>
        {% endif %}
        </p>
    </section>
{% endif %}
    {{ form_end(form, render_rest: false) }}

{% endblock list %}
