{% if series.id is not empty %}
    {% if series.firstDate is not empty and series.lastDate is not empty %}
        {% set counts = series.itemVisibilityCounts %}
        {{ include('inadmin/partials/admonition.html.twig', {
            show_title: false,
            'type': 'info',
            'text': series.firstDate|formatLocalTime('jS F Y') ~
                    ' → ' ~
                    series.lastDate|formatLocalTime('jS F Y') ~
                    ' • ' ~
                    counts.public ~
                    ' public • ' ~
                    counts.private ~
                    ' private'
        }) }}
    {% endif %}
    <p class="series__controls">
        {{ form_widget(form.bulkCreate) }}
        {{ form_widget(form.addItem) }}
    </p>
    {% if series.items is not empty %}
        {% set badges = {
            draft: {
                field: 'status',
                condition: 'draft',
                className: 'badge__draft',
            },
            scheduled: {
                field: 'isScheduledPage',
                condition: true,
                className: 'badge__scheduled',
            },
            private: {
                field: 'visibility',
                condition: false,
                className: 'badge__private',
            },

        } %}
        <table class="table table--compact table--row-borders table--selectable table--striped">
            <thead>
                <tr>
                    <th></th>
                    <th class="shortcol">Day</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th class="badgecol"></th>
                    <th class="shortcol"></th>
                </tr>
            </thead>
            <tbody>
            {% for item in series.items %}
                <tr>
                    <td>
                        <input type="checkbox" name="series[itemList][]" id="series_item_{{ loop.index }}" value="{{ item.id }}" />
                    </td>
                    <td class="shortcol">
                        {{ loop.index }}
                    </td>
                    <td>
                        <label id="series_item_{{ loop.index }}_label" for="series_item_{{ loop.index }}">
                            {{ item.title }}{% if item.subTitle is not empty %} - {{ item.subTitle }}{% endif %}</label>
                    </td>
                    <td>
                        {{ item.postDate|formatLocalTime('jS F Y') }}
                    </td>
                    <td class="badgecol">
                        {{ include('inadmin/partials/badge.html.twig') }}
                    </td>
                    <td class="shortcol">
                        <a aria-label="Edit item" href="/incc/{{ item.type }}/{{ item.urls|first.link|default('') }}" title="Edit {{ item.title }}"><span class="material-icons">edit_note</span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="content-warning">
            <i class="material-icons" aria-hidden="true">info_outline</i>
            <span>{% trans %}admin.series.contents.no_content{% endtrans %}</span>
        </p>
    {% endif %}
{% else %}
    <p class="content-warning">
        <i class="material-icons" aria-hidden="true">info_outline</i>
        <span>{% trans %}admin.series.contents.not_saved{% endtrans %}</span>
    </p>
{% endif %}
