{% if series.id is not empty %}
    <p class="series__controls">
        {{ form_widget(form.bulkCreate) }}
        {{ form_widget(form.addItem) }}
    </p>
    {% if series.items is not empty %}
        <table class="table table--compact table--row-borders table--selectable table--striped">
            <tbody>
            {% for item in series.items %}
                <tr>
                    <td>
                        <input type="checkbox" name="series[itemList][]" id="series_item_{{ loop.index }}" value="{{ item.id }}" />
                    </td>
                    <td>
                        <label id="series_item_{{ loop.index }}_label" for="series_item_{{ loop.index }}">
                            {{ item.title }}{% if item.subTitle is not empty %} - {{ item.subTitle }}{% endif %}</label>
                    </td>
                    <td>
                        <span class="material-icons">{% if item.status == 'published' %}visibility{% else %}visibility_off{% endif %}</span>
                    </td>
                    <td>
                        <a aria-label="Edit item" href="/incc/{{ item.type }}/{{ item.urls|first.link|default('') }}" title="Edit {{ item.title }}"><span class="material-icons">edit_note</span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="content-warning">
            <i class="material-icons" aria-hidden="true">info_outline</i>
            <span>{% trans %}admin.series.contents.no_content{% endtrans %}</span>
        </p>
    {% endif %}
{% else %}
    <p class="content-warning">
        <i class="material-icons" aria-hidden="true">info_outline</i>
        <span>{% trans %}admin.series.contents.not_saved{% endtrans %}</span>
    </p>
{% endif %}
