{% extends "inadmin/partials/form_account.html.twig" %}
{% set page_type = 'login' %}
{% set page_title = 'Reset your password for' %}

{% block form_account %}
    {{- form_errors(form) -}}

    {{ form_row(form.username) }}
    {{ form_row(form.new_password) }}

    <div>
        {{ form_widget(form.resetPassword) }}
        <a href="{{ path('app_account_login') }}" title="Cancel your request to reset your password">
            {% trans %}admin.button.cancel{% endtrans %}</a>
    </div>

    {{ form_row(form._token) }}
{% endblock form_account %}