{% extends "inadmin/structure/main.html.twig" %}

{% block pagetitle %}
    <a href="{{ path('incc_post_list', { type: page.tab }) }}">{{ page.tab|title }}s</a>
    <span>{% if post.id is empty %}New{% else %}Edit{% endif %} {{ page.tab }}</span>
{% endblock pagetitle %}

{% block content %}

    {{ form_start(form, {'attr': { 'class': 'col-12 form form__post' }}) }}
    <div class="ui-tabbed content__edit">
        <ul>
            <li>
                <a href="#post__edit">{% trans %}admin.posts.tabs.content{% endtrans %}</a>
            </li>
            <li>
                <a href="#post__properties">{% trans %}admin.posts.tabs.properties{% endtrans %}</a>
            </li>
            <li>
                <a href="#post__sharing">{% trans %}admin.posts.tabs.sharing{% endtrans %}</a>
            </li>
            {%  if revisions is defined and revisions is not empty %}
            <li>
                <a href="#post__history">{% trans %}admin.posts.tabs.revisions{% endtrans %}</a>
            </li>
            {% endif %}
        </ul>

        {{- form_errors(form) -}}

        <fieldset id="post__edit">
            <legend>{% trans %}admin.post.edit.fieldset{% endtrans %}</legend>
            <p>
                <a class="material-icons ui-toggle" href="#" data-target=".post__link__edit" data-target-state="hidden">link</a>
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </p>
            <p>
                {{ form_label(form.subTitle) }}
                {{ form_errors(form.subTitle) }}
                {{ form_widget(form.subTitle) }}
            </p>
            <p class="post__link__edit">
                {{ form_label(form.url) }}
                {{ form_errors(form.url) }}
                {{ settings.domain -}}/<input class="field__wide" id="post_url" name="post[url]" type="text" value="{% if post.urls is not empty %}{{ post.urls|first.link }}{% endif %}" />
                {% if post.urls is not empty %}
                <button aria-label="{{ 'admin.post.share.copyLink.help'|trans }}"
                        data-prefix="{{ settings.domain }}/"
                        data-target="post_url"
                        class="button button--info button--copy"
                        type="button"
                >
                    <span class="material-icons" aria-hidden="true">content_paste</span>
                    {{ 'admin.post.share.copyLink.label'|trans }}
                </button>
                {% endif %}
            </p>
            <p>
                {{ form_label(form.content) }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content) }}
            </p>
        </fieldset>

        <fieldset id="post__properties">
            <legend>{% trans %}admin.post.properties.fieldset{% endtrans %}</legend>
            <p>
                {{ form_label(form.visibility) }}
                {{ form_errors(form.visibility) }}
                <span class="switch-wrapper">
                    {{ form_widget(form.visibility) }}
				</span>
            </p>
            <p>
                {{ form_label(form.postDate) }}
                {{ form_errors(form.postDate) }}
                <span id="post__schedule__timed">
                    {{ form_widget(form.postDate) }}
				</span>
            </p>
            {% if post.id is not empty %}
            <p>
                {{ form_label(form.modDate) }}
                {{ form_errors(form.modDate) }}
                {{ form_widget(form.modDate) }}
            </p>
            {% endif %}
            <p>
                {{ form_label(form.categories) }}
                {{ form_errors(form.categories) }}
                {{ form_widget(form.categories) }}
                <a href="#" class="material-icons dialog__link"
                        data-class-name="dialog__categoryManager"
                        data-template-name="category-manager"
                        data-title="{% trans %}admin.dialog.categories.title{% endtrans %}"
                >add_box</a>

            </p>
            <p>
                {{ form_label(form.tags) }}
                {{ form_errors(form.tags) }}
                {{ form_widget(form.tags) }}
            </p>
            <p>
                {{ form_label(form.language) }}
                {{ form_errors(form.language) }}
                {{ form_widget(form.language) }}
            </p>
            {% if textStats is defined %}
                <p>{% trans with {'%readingTime%': '<strong>' ~ textStats.readingTime ~ '</strong>'} from 'messages' %}admin.post.properties.readingTime{% endtrans %}</p>
            {% endif %}
            {% if settings.geotagContent is defined and settings.geotagContent and settings.google.key is defined and settings.google.key is not empty %}
            <p>
                {{ form_label(form.latlong) }}
                {{ form_errors(form.latlong) }}
                {{ form_widget(form.latlong) }}
            </p>
            {% endif %}
        </fieldset>

        <fieldset id="post__sharing">
            <div class="nested-grid">
                <section class="col-6">
                    <p>
                        {{ form_label(form.featureSnippet) }}
                        {{ form_errors(form.featureSnippet) }}
                        {{ form_widget(form.featureSnippet) }}
                        {% trans %}admin.post.sharing.featureSnippet.help{% endtrans %}
                    </p>
                    <p>
                        {{ form_errors(form.noindex) }}
                        {{ form_widget(form.noindex) }}
                        {{ form_label(form.noindex) }}
                    </p>
                    <p>
                        {{ form_errors(form.nofollow) }}
                        {{ form_widget(form.nofollow) }}
                        {{ form_label(form.nofollow) }}
                    </p>
                </section>
                <section class="col-6">
                {{
                    include('inadmin/partials/image_preview.html.twig', {
                        'id': 'featureImage',
                        'name': 'post[featureImage]',
                        'value': post.featureImage
                    })
                }}
                </section>
            </div>
        </fieldset>

        {%  if revisions is defined and revisions is not empty %}
        <fieldset id="post__history">
            <table class="table table-responsive table-striped table-borderless">
                <caption>{% trans %}admin.post.revision.caption{% endtrans %}</caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans %}admin.post.revision.date{% endtrans %}</th>
                        <th scope="col">{% trans %}admin.post.revision.author{% endtrans %}</th>
                        <th scope="col">{% trans %}admin.post.revision.changes{% endtrans %}</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for revision in revisions %}
                    <tr>
                        <th scope="row">{{ revision.versionNumber }}</th>
                        <td>{{ revision.modDate|date('d/m/Y H:i') }}</td>
                        <td>{{ revision.user.displayName }}</td>
                        <td><span class="badge">{{ revision.action }}</span></td>
                        <td>
                            <a href="{{ path('inachis_page_post_revision_diff', { 'id': revision.id}) }}" class="button button--info"><span class="material-icons" aria-hidden="true">compare_arrows</span> {% trans %}admin.post.revision.view{% endtrans %}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
        {% endif %}
    </div>

    <div class="fixed-bottom-bar">
        <p>
            {{ form_widget(form.submit) }}
        {% if post.id is not empty %}
            {%- if post.status != "published" %}
                <button type="submit" class="button button--secondary button--info" name="publish">{% if post.postDate > date() %}<span class="material-icons" aria-hidden="true">schedule</span> {% trans %}admin.button.schedule{% endtrans %}{% else %}<span class="material-icons" aria-hidden="true">publish</span> {% trans %}admin.button.publish{% endtrans %}{% endif %}</button>
            {%- endif %}
            {{ form_widget(form.delete) }}
            {%  if not post.isDraft %}
                <a class="button button--secondary" href="/{{ post.urls|first.link }}" target="_blank" title="{% trans %}admin.button.viewLive{% endtrans %}"><span class="material-icons" aria-hidden="true">exit_to_app</span>
                    {% trans %}admin.button.viewLive{% endtrans %}</a>
            {%  endif %}
        {% endif %}
        </p>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, { 'render_rest': false }) }}

{% endblock content %}
