{% set page_start = page.offset + 1 %}
{% set page_end = page_start + pages.getIterator|length - 1 %}
<section class="ui-dialog-secondary-bar">
    <form class="search">
        <label for="ui-dialog-search-input">Search</label>
        <input class="text ui-icon-search" id="ui-dialog-search-input" placeholder="Filter by name" type="search" value="{{ filters.keyword|default('') }}" />
    </form>
    <p>
        Showing <strong>{{ page_start|number_format }}</strong>-<strong>{{ page_end|number_format }}</strong> of <strong id="content_count">{{ pages.count }}</strong> posts and pages
    </p>
</section>
<form class="form">
    {% if pages is not empty  %}
        <ol>
            {% for item in pages %}
                <li>
                    <input aria-labelledby="page_{{ item.id }}" id="page_{{ item.id }}" name="pages[]}}" type="checkbox" value="{{ item.id }}" />
                    <label for="page_{{ item.id }}">{{ item.title }}{% if item.subTitle is not empty %} - {{ item.subTitle }}{% endif %}</label>
                </li>
            {% endfor %}
        </ol>
        {{ include('inadmin/partials/pagination.html.twig', {
            offset: page.offset,
            limit: page.limit,
            maxResults: pages.count,
            maxPagesToShow: 5,
            result_url: '#',
            showSummary: false,
            total: pages.count,
        }) }}
    {% else %}
        <p>No content available for selection.</p>
    {% endif %}
</form>