<section class="ui-dialog-secondary-bar">
    <form class="search">
        <label class="ui-helper-hidden-accessible" for="ui-dialog-search-input">Search</label>
        <input class="text ui-icon-search" id="ui-dialog-search-input" placeholder="Filter by name" type="search" />
        <!-- button class="material-icons" type="submit">search</button -->
        <a class="button button--add" href="#"><span class="material-icons" aria-hidden="true">cloud_upload</span> Upload a new Image</a>
    </form>
    <p id="images_count">
        Showing <strong>0</strong>-<strong>0</strong> of <strong>0</strong> images
    </p>
</section>
{#<section class="ui-dialog-secondary-bar">#}
{#    <p><a href="#"><span class="material-icons" style="vertical-align: middle;" aria-hidden="true">arrow_back</span> Back</a></p>#}
{#    <div class="flash-warning"><span class="material-icons" aria-hidden="true">warning</span> Failed to upload file</div>#}
{#</section>#}
<section class="gallery">
    <div class="loader"></div>
</section>
<section class="ui-dialog-image-uploader visually-hidden">
    {{ form_start(form, {'attr': { 'class': 'filepond form nested-grid' }}) }}
        <fieldset class="col-6">
            {% include 'inadmin/partials/components/file-upload.html.twig' with {
                paramName: 'image[imageFile]',
                maxFiles: 1,
                maxFileSize: '10MB',
                uploadMultiple: false,
                autoUpload: false,
                acceptedFiles: allowedTypes
            } only %}
            {# 'helpText': 'Upload an image (JPEG or HEIC only)',
                'selector': '.ui-dialog-image-uploader form' #}
            <p>
                {{ form_widget(form.optimiseImage) }}
                {{ form_label(form.optimiseImage) }}
            </p>
        </fieldset>

        <fieldset class="col-6">
            <p>
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </p>
            <p>
                {{ form_label(form.altText) }}
                {{ form_widget(form.altText) }}
            </p>
            <p>
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </p>
            <p>
                <button class="button button--positive" type="submit"><span class="material-icons" aria-hidden="true">save</span> Save Image</button>
            </p>
        </fieldset>
    {{ form_row(form._token) }}
    {{ form_end(form, { 'render_rest': false }) }}
</section>
<script>window.Inachis.ImageManager._init();</script>
