<section class="ui-dialog-secondary-bar">
    <form class="search">
        <label class="ui-helper-hidden-accessible" for="ui-dialog-search-input">Search</label>
        <input class="text ui-icon-search" id="ui-dialog-search-input" placeholder="Filter by name" type="search" />
        <!-- button class="material-icons" type="submit">search</button -->
    </form>
    <p>
        <a class="button button--positive" href="#"><span class="material-icons">cloud_upload</span> Upload a new Image</a>
        <strong id="images_count">{{ image_count|number_format }}</strong> images
    </p>
</section>
{#<section class="ui-dialog-secondary-bar">#}
{#    <p><a href="#"><span class="material-icons" style="vertical-align: middle;">arrow_back</span> Back</a></p>#}
{#    <div class="flash-warning"><span class="material-icons">warning</span> Failed to upload file</div>#}
{#</section>#}
<section class="gallery">
    {{ include('inadmin/partials/gallery.html.twig', {
        images: dataset,
        page: {
            offset: 0,
            limit: 25,
        }
    }) }}
</section>
<section class="ui-dialog-image-uploader visually-hidden">
    {{ form_start(form, {'attr': { 'class': 'form' }}) }}
        <fieldset class="col span_1_of_2 dropzone">
            {{
                include('inadmin/partials/dropzone.html.twig', {
                    'dropzoneUrl': path('incc_resource_upload_image'),
                    'helpText': 'Upload an image (JPEG or HEIC only)',
                    'paramName': 'image[imageFile]',
                    'uploadMultiple': false,
                    'maxFilesize': 2097152,
                    'acceptedFiles': allowedTypes,
                    'autoUpload': false,
                    'selector': '.ui-dialog-image-uploader form'
                })
            }}
            <p>
                {{ form_widget(form.optimiseImage) }}
                {{ form_label(form.optimiseImage) }}
            </p>
        </fieldset>

        <fieldset class="col span_1_of_2">
            <p>
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </p>
            <p>
                {{ form_label(form.altText) }}
                {{ form_widget(form.altText) }}
            </p>
            <p>
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </p>
            <p>
                <button class="button button--positive" type="submit"><span class="material-icons">save</span> Save Image</button>
            </p>
        </fieldset>
    {{ form_row(form._token) }}
    {{ form_end(form, { 'render_rest': false }) }}
</section>
<script>InachisImageManager._init();</script>
